<div class="row mb-4">
  <div class="col">
    <button type="button" class="btn btn-primary" (click)="addNewStock()">
      Add New Stock
    </button>
  </div>
</div>

<h3>List of Market Stocks</h3>

<app-shared-message-alert *ngIf="message" [message]="message" [type]="messageType"></app-shared-message-alert>

<div class="row">
  <div class="col">
    <form>
      <div class="form-group form-inline">
        Search:
        <input class="form-control ml-2" type="text" [formControl]="keyword" (keyup)="updateList()"/>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Symbol</th>
        <th scope="col">Shares Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stock of list; index as i" class="text-center">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{stock.isin}}
        </td>
        <td>
          {{stock.name}}
        </td>
        <td class="text-right">
          {{stock.price | number}}
        </td>
        <td>
          <button type="button" class="btn btn-outline-warning cursor mr-3" (click)="updateExistingStock(stock)">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button type="button" class="btn btn-outline-danger cursor" (click)="removeStock(stock)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="list.length <= 0">
        <td colspan="5">List of stock is empty.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
