<form (submit)="submission($event)" [formGroup]="stockAdminFormGroup">
  <div class="mb-3">
    <label for="stockSymbol" class="form-label">Symbol</label>
    <input type="text" class="form-control" id="stockSymbol" formControlName="vwdKey" aria-describedby="symbolHelp">
    <div id="symbolHelp" class="form-text text-danger" *ngIf="vwdKey.invalid && (vwdKey.dirty || vwdKey.touched || submissionTouched) && vwdKey.errors">
      Symbol should not be empty.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
